/* ************ */

/* ** CARD *** */

/* ************ */

.card {
  width: min-content;
  margin: 10px;
  border: 1px solid $secondary;
  border-radius: 5px;

  @media screen and (min-width: 1024px) {
    margin: 10px 20px;
  }
}

.card__body {
  padding: 10px 20px;
}

.card__title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.card__subtitle {
  color: $secondary;
}

.card__description {
  margin: 0;
}
