/* *********** */

/* * IMAGES *** */

/* *********** */

.img--full-size {
  width: 100vw;
}

.img--mid-size {
  display: block;
  width: 80vw;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

.logo {
  border-radius: 50%;
}
