/* *********** */

/* * MAIN ITEM *** */

/* *********** */

.main-item {
  padding: 10px;
  margin: 10px 20px;
  text-align: center;
  border-top: 1px solid $secondary;
  border-bottom: 1px solid $secondary;
}

.main-item__image {
  border-radius: 15px;
}

.main-item__title {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 40px;
}

.main-item__list {
  font-size: 24px;
}

.main-item--secondary {
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: $background-secondary;
}
